<ion-content class="popover">
  <ion-list class="popover-list">

    <ion-list-header>4 Mesajınız var</ion-list-header>


    <ion-item class="item-img">
      <ion-avatar  item-start class="popover-avatar">
        <img src="assets/icon/foto1.jpg" class="popover-img">
      </ion-avatar>
      <p>This town ain't big enough for the two of us!</p>
      <ion-note item-end>Şimdi</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/foto2.jpg">
      </ion-avatar>
      <p>My eyeballs could have been sucked from their sockets!</p>
      <ion-note item-end>1 dk önce</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/foto3.jpg">
      </ion-avatar>
      <p>Well aren't you just the sweetest space toy I ever did meet!</p>
      <ion-note item-end>2 saat önce</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/foto4.jpg">
      </ion-avatar>
      <p>You're not turning me into a Mashed Potato.</p>
      <ion-note item-end>1 hafta önce</ion-note>
    </ion-item>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <button ion-button color="light"  class="pop-button">Tüm Mesajı Gör</button>
      </button>
    </ion-buttons>

  </ion-list>

