.pop-button span{
  border-radius: 4px;
  height: 2.8em;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #4f2a55;
  padding: 0 1em;
  float: right;
}
.popover.content-ios {
  color: #000;
  background-color: #fff;
}

.list-header-ios div {
  padding-left: 16px;
  position: relative;
  border-bottom: 0.55px solid #c8c7cc;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #4f2a55;
  background: transparent;
}

.popover-ios .popover-content{
  width: 93%!important;
  left:12px!important;
  top:85px!important;
}
.popover-list .item-ios ion-avatar img{
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  padding: 0px;
}

