<ion-content padding>

  <p>
    <button ion-button color="light" (click)="dismiss()" block icon-start>
      <ion-icon name='person'></ion-icon>
      Profile
    </button>
  </p>

  <p>
    <button ion-button  color="light"(click)="dismiss()" block icon-start>
      <ion-icon name='settings'></ion-icon>
      Settings
    </button>
  </p>

  <p>
    <button ion-button  color="light" block (click)=" newOpen()">
      <ion-icon name='log-out'></ion-icon>
      Logout
    </button>
  </p>

</ion-content>
