.pop-button span{
  border-radius: 4px;
  height: 2.8em;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #4f2a55;
  padding: 0 1em;
  float: right;
}

.pop1-over.content-ios {
  color: pink;
  background-color: #fff;
}

.list-header-ios div {
  padding-left: 16px;
  position: relative;
  border-bottom: 0.55px solid #c8c7cc;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #4f2a55;
  background: transparent;
}


.background1.item-ios{

  background-color: #97d5ff;
}

.background2.item-ios{

  background-color: #ff9389;
}

.background3.item-ios{

  background-color: #99ff8c;
}
