
<ion-content class="pop1-over">
  <ion-list>

    <ion-list-header>3 Bekleyen Görevin Var</ion-list-header>

    <ion-item start>
      <p>
        <ion-col><ion-icon name="paper" color="dark"></ion-icon></ion-col>
        Lorem ipsum dolor sit amet consectetur adpiscing elit.
      </p>
    </ion-item>


    <ion-item>
      <p>
        <ion-col><ion-icon name="paper" color="dark"></ion-icon></ion-col>
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </ion-item>


    <ion-item>
      <p>
        <ion-col><ion-icon name="paper" color="dark"></ion-icon></ion-col>
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </ion-item>


    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <button ion-button color="light" class="pop-button">Tüm Görevleri Gör</button>
      </button>
    </ion-buttons>


  </ion-list>

